<form method="post" action="http://localhost:3000/addUser">
<fieldset>
    <h1>add user</h1>

<br>
<div class="form-group">
  <label class="col-form-label col-form-label-lg mt-4" for="inputLarge">enter the name</label>
  <input class="form-control form-control-lg" type="text" placeholder="enter the name" name="name" id="inputLarge">
</div>
<br>
<div class="form-group">
  <label class="col-form-label col-form-label-lg mt-4" for="inputLarge">email</label>
  <input class="form-control form-control-lg" type="text" placeholder="enter email id" name="email" id="inputLarge">
</div>
<br>
<div class="form-group">
  <label class="col-form-label col-form-label-lg mt-4" for="inputLarge">phone number</label>
  <input class="form-control form-control-lg" type="text" placeholder="enter phone number" name="phone" id="inputLarge">
</div>
<br>
<div class="input-group mb-3">
      <button class="btn btn-success" type="submit" id="button-addon2">Submit</button>
</div>

<a href="http://localhost:3000/showUser" class="btn btn block btn-lg btn-primary">Show All Employee</a>
  </div>
</div>
</fieldset>
</form>
